
    <ul style="list-style:none;white-space:nowrap; padding: 0px 0px 0px 6px; border-left: 1px solid #333;">
        <li *ngFor="let CompanyListItem of CompanyListObj" style="margin: 5px 3px;">
            <a style="color:#333; background: none;" *ngIf="CompanyListItem.isGroup == true" (click)="CompanyListItem.isOpen = !CompanyListItem.isOpen" [ngClass]="{'fa-caret-right': !CompanyListItem.isOpen, 'fa-caret-down':CompanyListItem.isOpen}" class="fa"></a>
            <a style="color:#333; background: none;" *ngIf="CompanyListItem.isGroup != true" class="fa fa-minus-circle"></a>
            <a style="padding: 5px; border-radius: 2px;  text-overflow: ellipsis;" [ngClass]="{ 'bg-primary': CompanyListItem.isSelected == true, 'text-muted': CompanyListItem.isSelected != true}" (click)='filterSelected(CompanyListItem);'>
                <i class="fa fa-folder" [ngClass]="{ 'fa-folder':CompanyListItem.isGroup == true, 'fa-file':CompanyListItem.isGroup != true }"></i>
                {{CompanyListItem.CompanyName}}
            </a>
            <childCompany [CompanyListObj]='CompanyListItem.ChildCompany' *ngIf="CompanyListItem.isOpen == true" (returnCompanyList)="filterSelected($event);"></childCompany>
        </li>
    </ul>
