<ol class="breadcrumb">
    <li><a href="#"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
    <li class="active"><i class="fa fa-list-ul"></i> Advance Loan Setup</li>
</ol>
<div class="container-fluid row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-sm btn-default" (click)="openModal()" tooltip="Add Advance Loan " placement="top"><i class="glyphicon glyphicon-plus-sign"></i> Add Advance Loan </button>
                    </div>
                    <div class="col-sm-3 text-right">

                    </div>
                    <div class="col-sm-3 text-right">
                        <div class="input-group input-group-sm pull-right">
                            <input type="text" class="form-control" placeholder="Enter Employee Name" [(ngModel)]="filterObj.Name" (ngModelChange)="filterAdvanceLoanInfo()">
                            <span class="input-group-addon btn btn-default btn-link" tooltip="Search" placement="top" (click)="filterAdvanceLoanInfo()"><i class="glyphicon glyphicon-search"></i></span>
                        </div>
                    </div>
                </div>
                <hr style="border:1px solid #5cb85c;" />
                <div class="col-lg-12">
                    <div class="row alert alert-info" *ngIf="(filterObj.Name != null && filterObj.Name != '') ">
                        <button class="close" (click)="advanceLoanInfoAndFilter()"><i class="fa fa-times"></i></button>
                        <p *ngIf="(filterObj.Name != null && filterObj.Name != '')"><b>Filtered By:</b> {{filterObj.Name}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th (click)="sortBy('EmployeeNo')">
                                        <span>Employee No</span>
                                        <span class="fa" [ngClass]="{ 'fa-sort-up' :  filterObj.SortingAttribute == 'EmployeeNo' && filterObj.Sort == 'true', 'fa-sort-down' :  filterObj.SortingAttribute == 'EmployeeNo' && filterObj.Sort != 'true', 'fa-sort': filterObj.SortingAttribute != 'EmployeeNo' }"></span>
                                    </th>
                                    <th (click)="sortBy('EmployeeName')">
                                        <span>Employee Name</span>
                                        <span class="fa" [ngClass]="{ 'fa-sort-up' :  filterObj.SortingAttribute == 'EmployeeName' && filterObj.Sort == 'true', 'fa-sort-down' :  filterObj.SortingAttribute == 'EmployeeName' && filterObj.Sort != 'true', 'fa-sort': filterObj.SortingAttribute != 'EmployeeName' }"></span>
                                    </th>
                                    <th (click)="sortBy('TDate')">
                                        <span>Date</span>
                                        <span class="fa" [ngClass]="{ 'fa-sort-up' :  filterObj.SortingAttribute == 'TDate' && filterObj.Sort == 'true', 'fa-sort-down' :  filterObj.SortingAttribute == 'TDate' && filterObj.Sort != 'true', 'fa-sort': filterObj.SortingAttribute != 'TDate' }"></span>
                                    </th>
                                    <th (click)="sortBy('AlId')">
                                        <span>Allowance Type</span>
                                        <span class="fa" [ngClass]="{ 'fa-sort-up' :  filterObj.SortingAttribute == 'AlId' && filterObj.Sort == 'true', 'fa-sort-down' :  filterObj.SortingAttribute == 'AlId' && filterObj.Sort != 'true', 'fa-sort': filterObj.SortingAttribute != 'AlId' }"></span>
                                    </th>
                                    <th (click)="sortBy('Amount')">
                                        <span>Advance Loan Amount</span>
                                        <span class="fa" [ngClass]="{ 'fa-sort-up' :  filterObj.SortingAttribute == 'Amount' && filterObj.Sort == 'true', 'fa-sort-down' :  filterObj.SortingAttribute == 'Amount' && filterObj.Sort != 'true', 'fa-sort': filterObj.SortingAttribute != 'Amount' }"></span>
                                    </th>
                                    <th (click)="sortBy('Installment')">
                                        <span>Installment Amount</span>
                                        <span class="fa" [ngClass]="{ 'fa-sort-up' :  filterObj.SortingAttribute == 'Installment' && filterObj.Sort == 'true', 'fa-sort-down' :  filterObj.SortingAttribute == 'Installment' && filterObj.Sort != 'true', 'fa-sort': filterObj.SortingAttribute != 'Installment' }"></span>
                                    </th>
                                    <th><span>Remarks</span></th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of advanceLoanInfoList;">
                                    <td>
                                        {{item.EmployeeNo}}
                                    </td>
                                    <td>
                                        {{item.EmployeeName}}
                                    </td>
                                    <td>
                                        <date-view [inputDate]="item.TDate" *ngIf="item.TDate != null"></date-view>
                                        <span *ngIf="item.TDate == null">-</span>
                                    </td>
                                    <td>
                                        {{getHRMLedger(item.AlId)}}
                                    </td>
                                    <td>
                                        {{item.Amount}}
                                    </td>
                                    <td>
                                        {{item.Installment}}
                                    </td>
                                    <td>
                                        {{item.Remarks}}
                                    </td>
                                    <td class="text-center">
                                        <button class="btn btn-xs btn-info" (click)="getAdvanceLoanInfo(item.Id)" tooltip="Edit AdvanceLoan" placement="top"><span class="glyphicon glyphicon-edit"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="advanceLoanInfoList.length == 0">
                                <tr>
                                    <td colspan="8">
                                        <div class="text-warning">No items available</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--pagination-->
            <div class="panel-footer">
                <app-pagination [PaginationSetting]="pagination" (setPagination)="onPageSelect($event)" *ngIf="pagination"></app-pagination>
            </div>
        </div>
    </div>
</div>

<div bsModal #advanceLoanInfoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" *ngIf="selectedModalLoaded">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 *ngIf="isAddAdvanceLoanInfo == true;"><strong>Add Advance Loan </strong></h5>
                <h5 *ngIf="isEditAdvanceLoanInfo == true;"><strong>Edit Advance Loan </strong></h5>
            </div>
            <div class="modal-body" style="font-size:12px;">
                <div class="panel-body">
                    <form #bookForm="ngForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="EmployeeName">Employee Name:</label>
                            <div class="col-sm-8" *ngIf="isAddAdvanceLoanInfo">
                                <employee-search [employeeSearchOption]="selectEmployeeOptions" (selectedEmployee)="selectedEmployee($event)"></employee-search>
                            </div>
                            <div class="col-sm-8" *ngIf="isEditAdvanceLoanInfo">
                                <div class="form-control">
                                    {{InputAdvanceLoanInfo.Employee.FirstName}}
                                    {{InputAdvanceLoanInfo.Employee.MiddleName ? InputAdvanceLoanInfo.Employee.MiddleName : ''}}
                                    {{InputAdvanceLoanInfo.Employee.LastName}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="TDate">Transaction Date:</label>
                            <div class="col-sm-8">
                                <chaNepaliDatePicker id="TDate" [inputDate]="inputDate" [inputDatePickerOptions]="inputDateOptions" (selectedDate)='onTDateSelect($event)' *ngIf="inputDate && inputDateOptions"></chaNepaliDatePicker>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="AlId">Allowance Type:</label>
                            <div class="col-sm-8">
                                <select id="AlId" required class="form-control" [(ngModel)]="InputAdvanceLoanInfo.AlId" name="AlId" #AlId="ngModel">
                                    <option value="{{item.ALId}}" *ngFor="let item of allowanceList">{{item.ALDesc}}</option>
                                </select>
                                <div *ngIf="AlId.errors && (AlId.dirty || AlId.touched)" class="alert alert-danger">
                                    <div [hidden]="!AlId.errors.required">
                                        Please Select Allowance Type !
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="Amount">Amount:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Amount" placeholder="Enter Amount" required [(ngModel)]="InputAdvanceLoanInfo.Amount" (ngModelChange)="checkMoney(InputAdvanceLoanInfo.Amount,1)" name="Amount" #Amount="ngModel" />
                                <div *ngIf="Amount.errors && (Amount.dirty || Amount.touched)" class="alert alert-danger">
                                    <div [hidden]="!Amount.errors.required">
                                        Amount is required !
                                    </div>
                                </div>
                                <div [hidden]="validAmount" class="alert alert-danger">
                                    Insert Money Value Eg:457.75!
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="Amount">Remarks:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Remarks" placeholder="Enter Remarks" required [(ngModel)]="InputAdvanceLoanInfo.Remarks" name="Remarks" #Remarks="ngModel" />
                                <div *ngIf="Remarks.errors && (Remarks.dirty || Remarks.touched)" class="alert alert-danger">
                                    <div [hidden]="!Remarks.errors.required">
                                        Remarks is required !
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="Installment">Installment Amount:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="Installment" placeholder="Enter Installment Amount" required [(ngModel)]="InputAdvanceLoanInfo.Installment" (ngModelChange)="checkMoney(InputAdvanceLoanInfo.Installment,2)" name="Installment" #Installment="ngModel" />
                                <div *ngIf="Installment.errors && (Installment.dirty || Installment.touched)" class="alert alert-danger">
                                    <div [hidden]="!Installment.errors.required">
                                        Installment is required !
                                    </div>
                                </div>
                                <div [hidden]="validInstallment" class="alert alert-danger">
                                    Insert Money Value Eg:457.75!
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="isAddEditToggle==false" type="submit" (click)="saveAdvanceLoanInfo()" [disabled]="!isFormValid(bookForm)" class="btn btn-xs btn-success">Save</button>
                <button *ngIf="isAddEditToggle==true" type="submit" (click)="editAdvanceLoanInfo()" [disabled]="!isFormValid(bookForm)" class="btn btn-xs btn-success">Edit</button>
                <button type="button" class="btn btn-xs btn-danger" (click)="hideModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" *ngIf="deleteModalLoaded">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideDeleteModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5><strong>Delete AdvanceLoan </strong></h5>
                <h5 class="text-warning" *ngIf="disableDelete==true">AdvanceLoan is already in use, cannot be deleted!</h5>
            </div>
            <div class="modal-body" style="font-size:12px;">
                <div class="panel-body">
                    <form class="form-horizontal">
                        Are you sure to delete this Advance Loan ?
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-xs btn-success" (click)="deleteAdvanceLoanInfo()" [disabled]="disableDelete">Yes</button>
                <button type="button" class="btn btn-xs btn-danger" (click)="hideDeleteModal()">No</button>
            </div>
        </div>


    </div>
</div>-->

<ng2-toasty [position]="'top-center'"></ng2-toasty>
