<ol class="breadcrumb">
    <li><a href="#"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
    <li class="active"><i class="fa fa-list-ul"></i> Holiday List</li>
</ol>
<div class="container-fluid row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-6">
                    <h5><strong>Holiday List</strong></h5>
                </div>                
            </div>
            <hr style="border:1px solid #5cb85c; margin: 10px 15px 5px;" />
            <div class="panel-body">
                <table class="table table-bordered table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Holiday Name</th>
                            <th>Holiday Date</th>
                            <th>Holiday Description</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="employeeHolidayList.length > 0">
                        <tr *ngFor="let item of employeeHolidayList; let in=index">
                            <td>{{in+1}}</td>
                            <td>
                                {{item.HolidayName}}
                            </td>
                            <td>
                                <span *ngIf="item.HolidayDate">
                                    <date-view [inputDate]="item.HolidayDate"></date-view>
                                </span>
                                <span *ngIf="!item.HolidayDate">
                                    -
                                </span>
                            </td>
                            <td>
                                {{item.HolidayDescription}}
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="employeeHolidayList.length == 0">
                        <tr>
                            <td colspan="4">
                                <div class="text-warning">No items available</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>