<div>
    <ol class="breadcrumb">
        <li><a href="#"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
        <li class="active"><i class="fa fa-list-ul"></i> Change Password</li>
    </ol>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h4>
            Change Password
            <!--<button type="button" class="close" aria-label="Close" (click)="hideResetPassword()">
                <span aria-hidden="true">&times;</span>
            </button>-->
        </h4>
        <hr />
        <form class="form-horizontal col-md-6" #bookform="ngForm">
            <div class="form-group">
                <label for="username" class="control-label col-sm-4">Username:</label>
                <div class="col-sm-8">
                    <span class="form-control">{{InputUserDetail.UserName}}</span>
                   <!-- <input type="text" class="form-control" id="username" placeholder="enter username" name="username" disabled [(ngModel)]="userDetail.UserName" />-->
                </div>
            </div>
            <div class="form-group">
                <label for="currentPassword" class="control-label col-sm-4">Current Password:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="currentPassword" placeholder="Enter Current Password" name="currentPassword" required minlength="6" maxlength="30" [(ngModel)]="currentPassword" #currentPwd="ngModel" />
                    <div *ngIf="currentPwd.errors && (currentPwd.dirty || currentPwd.touched)" class="alert alert-danger">
                        <div [hidden]="!currentPwd.errors.required">
                            Current Password is required !
                        </div>
                        <div [hidden]="!currentPwd.errors.minlength">
                            Current Password must be at least 6 characters long. !
                        </div>                        
                    </div>
                    <div [hidden]="isCurrentPasswordCorrect==true" class="alert alert-danger">
                        Current Password is incorrect. !
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword" class="control-label col-sm-4">New Password:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="newPassword" placeholder="Enter New Password" name="newPassword" required minlength="6" maxlength="30" [(ngModel)]="ChangePasswordDetails.PasswordHash" #PasswordHash="ngModel" />
                    <div *ngIf="PasswordHash.errors && (PasswordHash.dirty || PasswordHash.touched)" class="alert alert-danger">
                        <div [hidden]="!PasswordHash.errors.required">
                            New Password is required !
                        </div>
                        <div [hidden]="!PasswordHash.errors.minlength">
                            New Password must be at least 6 characters long. !
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword" class="control-label col-sm-4">Confirm Password:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password" name="confirmPassword" required minlength="6" maxlength="30" [(ngModel)]="confirmPassword" (ngModelChange)="checkConfirmPassword($event)" #confirmPwd="ngModel" />
                    <div *ngIf="confirmPwd.errors && (confirmPwd.dirty || confirmPwd.touched)" class="alert alert-danger">
                        <div [hidden]="!confirmPwd.errors.required">
                            Confirm password is required !
                        </div>
                        <div [hidden]="!confirmPwd.errors.minlength">
                            Confirm password must be at least 6 characters long. !
                        </div>                        
                    </div>
                    <div [hidden]="isConfirmPasswordCorrect==true" class="alert alert-danger">
                        Confirm password does not match with New Password. !
                    </div>
                </div>
            </div>
            <button class="btn btn-xs btn-danger pull-right" style="margin-left:5px;" (click)="cancelChangePassword()">Cancel</button>
            <button class="btn btn-xs btn-success pull-right" [disabled]="ChangePasswordDetails.PasswordHash != confirmPassword || !bookform.form.valid" (click)="submit()">Save</button> 
        </form>
    </div>
</div> 
<ng2-toasty [position]="'top-center'"></ng2-toasty>