<ol class="breadcrumb">
    <li><a href="#"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
    <li class="active"><i class="fa fa-list-ul"></i> Login Shift</li>
</ol>
<div class="container-fluid row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <button class="btn btn-sm btn-default" (click)="openLoginShiftModal()" tooltip="Add Login Shift" placement="top"><i class="glyphicon glyphicon-plus-sign"></i> Add Login Shift</button>
                    </div>
                    <div class="col-sm-3 text-right">
                        <!--<form class="form-inline pull">
                            <label for="sort" class="text-left">Sort </label>
                            <select name="sort" id="sort" class="form-control input-sm btn-default" [(ngModel)]="filterObj.Sort" (ngModelChange)="filterLoginShift()">
                                <option value="">Select...</option>
                                <option value="true">Ascending</option>
                                <option value="false">Decending</option>
                            </select>
                        </form>-->
                    </div>                    
                </div>
                <hr style="border:1px solid #5cb85c;" />
                <div class="col-lg-12">
                    <div class="row alert alert-info" *ngIf="(filterObj.Sort != null && filterObj.Sort != '') ">
                        <button class="close" (click)="filterObj = { Sort: '' }"><i class="fa fa-times"></i></button>
                        <p *ngIf="(filterObj.Sort != null && filterObj.Sort != '')">
                        <b>Sorted By:</b> 
                            {{filterObj.SortingAttribute == 'ShiftName' ? 'Login Shift Name' : 'Job Run Time'}}
                            {{filterObj.Sort == 'true' ? 'Ascending' : 'Descending'}}
                        </p>             
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 table-container">
                        <table class="table table-bordered table-hover table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th><span (click)="sortBy('ShiftName')">Shift Name</span> <span class="glyphicon glyphicon-sort" (click)="sortBy('ShiftName')"></span></th>
                                    <th class="text-center"><span (click)="sortBy('JobRunTime')">Job Run Time</span>  <span class="glyphicon glyphicon-sort" (click)="sortBy('JobRunTime')"></span></th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of loginShiftList">
                                    <td>{{item.ShiftName}}</td>
                                    <td class="text-center">{{item.JobRunTime}} </td>                                    
                                    <td class="text-center">
                                        <button class="btn btn-xs btn-info glyphicon glyphicon-edit" tooltip="Edit" (click)="getLoginShift(item.ShiftId)"></button>
                                        <button class="btn btn-xs btn-danger glyphicon glyphicon-trash" tooltip="Delete" (click)="openDeleteModal(item.ShiftId)"></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="loginShiftList.length == 0">
                                <tr>
                                    <td colspan="13">
                                        <div class="text-warning">No items available</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--pagination-->
            <div class="panel-footer">
                <app-pagination [PaginationSetting]="pagination" (setPagination)="onPageSelect($event)" *ngIf="pagination"></app-pagination>
            </div>
        </div>
    </div>
</div>

<div bsModal #loginShiftModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" *ngIf="selectedModalLoaded">
        <div class="modal-content">


            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideLoginShiftModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 *ngIf="isAddLoginShift == true;"><strong>Add Login Shift</strong></h5>
                <h5 *ngIf="isEditLoginShift == true;"><strong>Edit Login Shift</strong></h5>
            </div>
            <div class="modal-body" style="font-size:12px;">
                <div class="panel-body">
                    <form #bookForm="ngForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="ShiftName">Login Shift Name:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="ShiftName" placeholder="Enter Login Shift" required [(ngModel)]="InputLoginShift.ShiftName" name="ShiftName"  #ShiftName="ngModel" />
                                <div *ngIf="ShiftName.errors && (ShiftName.dirty || ShiftName.touched)" class="alert alert-danger">
                                    <div [hidden]="!ShiftName.errors.required">
                                        Login Shift Name is required !
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">Job Run Time:</label>
                            <div class="col-sm-9">
                                <div class="dropdown open">
                                    <button class="btn btn-default dropdown-toggle " type="button" (click)="toggleJRB = !toggleJRB">
                                        {{InputLoginShift.JobRunTime?(InputLoginShift.JobRunTime | date: 'hh:mm a'):'Select Time'}}                                        
                                    </button>
                                    <ul class="dropdown-menu panel-body" *ngIf="toggleJRB">
                                        <li><timepicker id="JobRunTime" [(ngModel)]="InputLoginShift.JobRunTime" name="JobRunTime" #JobRunTime="ngModel"></timepicker></li>
                                        <li><button class="btn btn-sm btn-default btn-block" (click)="toggleJRB = !toggleJRB">Confirm</button></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="isAddEditToggle==false" type="submit" (click)="saveLoginShift()" [disabled]="!bookForm.form.valid" class="btn btn-xs btn-success">Save</button>
                <button *ngIf="isAddEditToggle==true" type="submit" (click)="editLoginShift()" [disabled]="!bookForm.form.valid" class="btn btn-xs btn-success">Edit</button>
                <button type="button" class="btn btn-xs btn-danger" (click)="hideLoginShiftModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" *ngIf="deleteModalLoaded==true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideDeleteModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5><strong>Delete Login Shift</strong></h5>
            </div>
            <div class="modal-body" style="font-size:12px;">
                <div class="panel-body">
                    <form class="form-horizontal">
                        Are you sure to delete this Login Shift?
                    </form>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="submit" class="btn btn-xs btn-success" (click)="deleteLoginShift()">Yes</button>
                <button type="button" class="btn btn-xs btn-danger" (click)="hideDeleteModal()">No</button>
            </div>
        </div>
    </div>   
</div>

<div bsModal #promptModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" *ngIf="selectedPromptModalLoaded==true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="promptModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5><strong>Login Shift</strong></h5>
            </div>
            <h5>Login Shift cannot be deleted</h5>
        </div>
    </div>
</div>
<ng2-toasty [position]="'top-center'"></ng2-toasty>
