<div class="col-md-6">
    <button class="btn btn-sm btn-default" *ngIf="showUnitDetail" (click)="openUnitModal()" tooltip="Add Unit" placement="top"><i class="glyphicon glyphicon-plus-sign"></i> Add Unit</button>
    <button class="btn btn-xs btn-info" *ngIf="showUnitDetail==false" (click)="getUnit(unitId)" tooltip="Edit Unit" placement="top"><span class="glyphicon glyphicon-edit"></span></button>
</div>

<div bsModal #unitModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" *ngIf="selectedModalLoaded">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="hideUnitModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 *ngIf="isAddUnit == true;"><strong>Add Unit</strong></h5>
                <h5 *ngIf="isEditUnit == true;"><strong>Edit Unit</strong></h5>
            </div>
            <div class="modal-body" style="font-size:12px;">
                <div class="panel-body">
                    <form #bookForm="ngForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="UnitName">Unit Name:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="UnitName" placeholder="Enter Unit Name" required [(ngModel)]="InputUnit.UnitName" (ngModelChange)="onUnitNameChange(InputUnit.UnitName)" name="UnitName" #UnitName="ngModel" />
                                <div *ngIf="UnitName.errors && (UnitName.dirty || UnitName.touched)" class="alert alert-danger">
                                    <div [hidden]="!UnitName.errors.required">
                                        Unit Name is required !
                                    </div>
                                </div>
                                <div [hidden]="!duplicateName" class="alert alert-danger">
                                    Unit already exist!
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="UnitCode">Unit Code:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="UnitCode" placeholder="Enter Unit Code" required maxlength="2" [(ngModel)]="InputUnit.UnitCode" (ngModelChange)="onUnitCodeChange(InputUnit.UnitCode)" [disabled]="isAddEditToggle" name="UnitCode" #UnitCode="ngModel" />
                                <div *ngIf="UnitCode.errors && (UnitCode.dirty || UnitCode.touched)" class="alert alert-danger">
                                    <div [hidden]="!UnitCode.errors.required">
                                        Unit Code is required!
                                    </div>
                                </div>
                                <div [hidden]="!duplicateCode" class="alert alert-danger">
                                    Unit Code already exist!
                                </div>
                                <div [hidden]="!validDigit" class="alert alert-danger">
                                    Please Enter Two Digit Number!
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="Visibility">Visibility:</label>
                            <div class="col-sm-8">
                                <input type="checkbox" id="Visibility" [(ngModel)]="InputUnit.Visibility" name="Visibility" #Visibility="ngModel" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="isAddEditToggle==false" type="submit" (click)="saveUnit()" [disabled]="!isFormValid(bookForm)" class="btn btn-xs btn-success">Save</button>
                <button *ngIf="isAddEditToggle==true" type="submit" (click)="editUnit()" [disabled]="!isFormValid(bookForm)" class="btn btn-xs btn-success">Edit</button>
                <button type="button" class="btn btn-xs btn-danger" (click)="hideUnitModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>
<ng2-toasty [position]="'top-center'"></ng2-toasty>


